body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header, nav, main, footer {
    padding: 8px;
}
nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
}
.product-info {
    background-color: #45a049;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product {
    text-align: center;
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    transition: transform 0.3s ease;
}
.product:hover {
    transform: scale(1.2);
}
.product img {
    max-width: 100%;
    height: auto;
}
.cart-btn {
    display: none;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 70px; 
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s; 
    text-decoration: none;
}
.cart-btn:hover {
    background-color: #0056b3; 
}
.product:hover .cart-btn {
    display: block;
}
footer {
    background-color: #ffffff;
    text-align: center;
}
